@charset "UTF-8";
.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  transition: all 350ms;
  border: none;
  cursor: pointer; }

.specialize__title::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 5%;
  height: 2px;
  background-color: #ffbc00; }

.btn-main {
  color: #333;
  background-color: #ffbc00; }

.btn-light {
  color: #333;
  background-color: #f4f4f4; }

.btn-dark {
  color: #f4f4f4;
  background-color: #333; }

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: #ffbc00; }

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem; }

.text-center {
  text-align: center; }

/* Estilos generales */
body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background-color: #fff; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #333; }

ul {
  list-style: none; }

h2, h3, h4 {
  text-transform: uppercase; }

img {
  display: block;
  width: 100%; }

.logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase; }

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .main-nav ul {
    display: flex; }
  .main-nav li {
    padding: 1rem 1.5rem; }
  .main-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 350ms; }
    .main-nav a:hover {
      border-color: #ccc; }
    .main-nav a.current {
      border-color: #ffbc00; }

/* Estilos del Header */
.header-home {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to right, #00000070, #00000070), url("../img/showcase.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  color: #fff; }
  .header-home__content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-align: center; }
    .header-home__content h1 {
      font-size: 3.5rem;
      line-height: 1.2; }
  .header-home__lead {
    margin-bottom: 1rem; }

/* Estilos del la sección Specialize */
.specialize {
  text-align: center; }
  .specialize .container {
    padding: 2rem 0; }
  .specialize__title {
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 300; }
  .specialize__lead {
    margin-bottom: 2rem;
    font-size: 1.3rem; }
  .specialize__specials {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .specialize__specials div {
    padding: 0 0.5rem; }
  .specialize__specials .fas {
    color: #ffbc00; }
  .specialize__specials h3 {
    margin-bottom: 0.5rem; }

/* Estilos de la sección stats */
.stats {
  text-align: center;
  padding-bottom: 3rem; }
  .stats__container {
    display: flex;
    background-color: cadetblue; }
  .stats__item {
    flex-basis: 25%;
    padding: 3rem; }
    .stats__item i {
      margin-bottom: 1rem; }
    .stats__item p:first-of-type {
      font-size: 1.5rem;
      margin-bottom: 1rem; }
    .stats__item p:nth-of-type(2) {
      font-size: 2rem;
      font-weight: bold; }
  .stats__item:nth-child(odd) {
    background-color: #f4f4f4; }
  .stats__item:nth-child(even) {
    background-color: #ccc; }
