.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  transition: all 350ms;
  border: none;
  cursor: pointer; }

.btn-main {
  color: #333;
  background-color: #ffbc00; }

.btn-light {
  color: #333;
  background-color: #f4f4f4; }

.btn-dark {
  color: #f4f4f4;
  background-color: #333; }

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: #ffbc00; }

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem; }

.text-center {
  text-align: center; }

/* Estilos generales */
body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background-color: #fff; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #333; }

ul {
  list-style: none; }

h2, h3, h4 {
  text-transform: uppercase; }

img {
  display: block;
  width: 100%; }

.logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase; }

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .main-nav ul {
    display: flex; }
  .main-nav li {
    padding: 1rem 1.5rem; }
  .main-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 350ms; }
    .main-nav a:hover {
      border-color: #ccc; }
    .main-nav a.current {
      border-color: #ffbc00; }

/* Estilos del Header */
.header-home {
  position: relative;
  height: 100vh;
  background-image: url("../img/showcase.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  color: #fff; }
  .header-home__content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-align: center; }
    .header-home__content h1 {
      font-size: 3.5rem;
      line-height: 1.2; }
  .header-home__lead {
    margin-bottom: 1rem; }
