// Tablets
@media (max-width: 800px) {
  //HTML
  html {
    font-size: 15px;
  }

  // Header
  .header-home {
    height: 30rem;
    background-position: center -10rem;

    &__content {
      top: 50%;
    }

    h1 {
      font-size: 2.5rem;
      line-height: 1;
    }
  }

  // Home --> Specialize
  .specialize {

    &__specials {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;

      div {
        padding: 0 1rem;
      }
    }
  }

  // Home --> Stats
  .stats {

    &__container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;
    }

    &__item:first-of-type, &__item:nth-of-type(4) {
      background-color: $light-color;
    }

    &__item:nth-of-type(2), &__item:nth-of-type(3) {
      background-color: $medium-color;
    }
  }

  // Home --> Creative process
  .stats {
    padding-bottom: 2rem;
  }

  .process {
    padding-bottom: 2rem;

    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
  
      & > div {
        width: auto;
      }
    }
  }

  
  // About me
  .about-me {

    .container {
      padding: 2rem 0;
    }

    &__info {
      flex-direction: column;
      align-items: center;

      &-img {
        min-width: 280px;
        margin-right: 0;
        margin-bottom: 1rem;
      }

      &-content {
        width: 100%;
      }
    }


    &__awards-container {
      display: block;
    }
  
    &__award {
      padding-bottom: 1rem;
      border-bottom: 2px solid $light-color;
    }

    &__award:not(:first-of-type) {
      padding-top: 1rem;
    }
  }


  // About me --> progress bars
  .progress-bars {
    padding: 2rem 0;
  }

  // About me --> Logos
  .about-logos {
    
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 1rem;
      grid-row-gap: 4rem;
    }
  
    &__logo {
      width: auto;

      img {
        max-width: 200px;
        min-width: 120px;
        margin: 0 auto;
      }
    }
  }

  // About me --> Testimonials
  .testimonials {
    padding: 2rem 0;

    &__testimonials-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    &__testimonial {
      width: auto;
    }

    &__client {
      justify-content: center;
    }
  }

  // Work --> my-work
  .my-work {
    padding: 2rem 0;

    .container {
      padding: 0;
    }

    &__gallery {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
    }

    &__gallery-item {

      p {
        font-size: 1rem;
      }

      h3 {
        font-size: 1.5rem;
      }
    }
  }


  // Contact
  .contact {

    .container {
      padding: 2rem 0;
    }

    &__icons {
      padding: 2rem 0;
    }

    &__copy {
      padding: 2rem 0;
  
      h1 {
        font-size: 3rem;
        line-height: 1.2;
      }
    }
  }
}


// Smartphones
@media (max-width: 500px) {
  //HTML
  html {
    font-size: 14px;
  }

  // Header
  .main-nav {
    flex-direction: column;
    align-items: center;
  }

  .header-home {
    height: auto;
    padding: 0.5rem 0;
    border-bottom: 3px solid $main-color;

    &__content {
      display: none;
    }
  }

  // Footer
  .footer {

    .container {
      flex-direction: column;
    }

    &__copyright {
      margin-bottom: 1rem;
    }
  }

  // Home --> Specialize
  .specialize {

    & .container {
      padding: 2rem 1rem;
    }

    &__specials {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1.5rem;

      div {
        padding: 0;
      }
    }
  }

  // Home --> Stats
  .stats {

    &__container{
      grid-template-columns: 1fr;
    }

    &__item:nth-child(odd) {
      background-color: $light-color;
    }
  
    &__item:nth-child(even) {
      background-color: $medium-color;
    }
  }

  // Home --> Creative process
  .process {

    .container{
      padding: 0 1rem;
    }

    &__items {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
    }
  }


  // About me --> Logos
  .about-logos {
    
    .container {
      grid-template-columns: 1fr;
      grid-column-gap: 3rem;
    }
  }


  // About me --> Testimonials
  .testimonials {

    &__testimonials-container {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
    }

    &__testimonial {
      padding-bottom: 1rem;
      border-bottom: 2px solid $light-color;
    }
  }


  // Work --> my-work
  .my-work {

    .container {
      padding: 0;
    }

    &__gallery {
      grid-template-columns: 1fr;
    }
  }


  // Contact
  .contact {

    &__form-inputs {
      grid-template-columns: 1fr;
    }

    &__btn {
      min-width: 150px;
    }

    &__icons {
      flex-wrap: wrap;

      &-icon {
        width: 100%;
      }

      &-icon:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}