// Tablets
@media (max-width: 800px) {
  // Header
  .header-home {
    height: 30rem;

    &__content {
      top: 50%;
    }
  }

  // Home --> Specialize
  .specialize {

    &__specials {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;

      div {
        padding: 0 1rem;
      }
    }
  }

  // Home --> Stats
  .stats {

    &__container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;
    }

    &__item:first-of-type, &__item:nth-of-type(4) {
      background-color: $light-color;
    }

    &__item:nth-of-type(2), &__item:nth-of-type(3) {
      background-color: $medium-color;
    }
  }

  // Home --> Creative process
  .process {

    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
  
      & > div {
        width: auto;
      }
    }
  }
}

// Smartphones
@media (max-width: 500px) {
  // Header
  .main-nav {
    flex-direction: column;
    align-items: center;
  }

  .header-home {
    height: 10rem;
    border-bottom: 3px solid $main-color;

    &__content {
      display: none;
    }
  }

  // Footer
  .footer {

    .container {
      flex-direction: column;
    }

    &__copyright {
      margin-bottom: 1rem;
    }
  }

  // Home --> Specialize
  .specialize {

    & .container {
      padding: 2rem 1rem;
    }

    &__specials {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1.5rem;

      div {
        padding: 0;
      }
    }
  }

  // Home --> Stats
  .stats {

    &__container{
      grid-template-columns: 1fr;
    }

    &__item:nth-child(odd) {
      background-color: $light-color;
    }
  
    &__item:nth-child(even) {
      background-color: $medium-color;
    }
  }

  // Home --> Creative process
  .process {

    .container{
      padding: 0 1rem;
    }

    &__items {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
    }
  }
}