@import "variables";
@import "utilities";

/* Estilos generales */
body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2, h3, h4 {
  text-transform: uppercase;  
}

img {
  display: block;
  width: 100%;
}

.logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;

    transition: border-color 350ms;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

/* Estilos del Header */
.header-home {
  height: 100vh;
  background-image: $bg-img;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  color: #fff;

  &__nav {

  }

  &__logo {
    
  }

  &__content {

  }

  &__lead {

  }
}