@import "variables";
@import "utilities";

/* Estilos generales */
body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2, h3, h4 {
  text-transform: uppercase;  
}

img {
  display: block;
  width: 100%;
}

.logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;

    transition: border-color 350ms;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

/* Estilos del Header */
.header-home {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to right, #00000070, #00000070), $bg-img;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  background-attachment: fixed;
  color: #fff;

  &__content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-align: center;

    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
  }
}

.header-about {
  background-image: linear-gradient(to right, #00000070, #00000070), $bg-img;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 3px solid $main-color;
}


/* Estilos del la sección Specialize */
.specialize {
  text-align: center;
  
  & .container {
    padding: 2rem 0;
  }

  .title::after {
    @extend %bottom-border;
  }

  &__specials {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__specials div {
    padding: 0 0.5rem;
  }

  &__specials .fas {
    color: $main-color;
  }

  &__specials h3 {
    margin-bottom: 0.5rem;
  }
}


/* Estilos de la sección stats */
.stats {
  text-align: center;
  padding-bottom: 3rem;

  &__container {
    display: flex;
  }

  &__item {
    flex-basis: 25%;
    padding: 3rem;

    & i {
      margin-bottom: 1rem;
    }

    & p:first-of-type{
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    & p:nth-of-type(2){
      font-size: 2rem;
      font-weight: bold;
    }
  }

  &__item:nth-child(odd) {
    background-color: $light-color;
  }

  &__item:nth-child(even) {
    background-color: $medium-color;
  }
}


/* Estilos de la sección creative process */
.process {
  text-align: center;
  padding-bottom: 3rem;

  .title::after {
    @extend %bottom-border;
  }

  &__items {
    display: flex;
    justify-content: space-between;

    & > div {      
      width: 24%;
    }
  }

  &__items-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    padding: 5rem;
    margin: 0 auto 1rem auto;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: $dark-color;
    transform-origin: top center;

    transform: scale(1);
    transition: all 350ms ease-in-out;
    
    &:hover, &:hover &__items-step {
      transform: scale(1.1);
      background-color: $main-color;
      transition: all 500ms ease-in-out;
    }
  }

  &__items-step {
    position: absolute;
    top: 0;
    right: 0rem;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.8rem;
    text-align: center;
    color: #fff;
    background-color: $main-color;
    border-radius: 50%;

    transition: background-color 500ms ease-in-out;
  }

  &__items-icon:hover &__items-step {
    background-color: $dark-color;
    transition: background-color 500ms ease-in-out;
  }
}


/* Estilos de footer */
.footer {
  background-color: $dark-color;
  padding: 1rem 0;
  color: #fff;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icons {
    display: flex;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.6rem;
      border-radius: 50%;
      border: 2px solid #fff;      
      transition: all 500ms ease-in-out;
      
      &:not(:last-child) {
        margin-right: 1rem;
      }
      
      &:hover {
        color: $dark-color;
        background-color: $main-color;
        transition: all 500ms ease-in-out;
      }
    }
  }
}


/* Estilos de la página about me */
.about-me {
  text-align: center;

  & .container {
    padding: 3rem 0;
  }

  .title::after {
    @extend %bottom-border;
  }

  &__info {
    display: flex;
    margin-bottom: 2rem;

    &-img {
      display: block;
      width: 35%;
      margin-right: 1rem;
    }

    &-content {
      width: 60%;
      padding: 1rem;
      border-left: 3px solid $main-color;
      background-color: $light-color;

      h4 {
        text-transform: uppercase;
      }
    }
  }

  &__awards-container {
    display: flex;

    .fa-award {
      margin-bottom: 1rem;
      color: $main-color;
    }
  }
}


/* Estilos de la sección progress bars */
.progress-bars {
  padding: 3rem 0;
  color: #fff;
  background-color: $dark-color;

  .title::after {
    @extend %bottom-border;
  }

  &__bar-container {
    border-radius: 5px;
    background-color: $medium-color;
  }
  
  .bar {
    height: 20px;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: $main-color;
  }

  &__bar-70 {
    width: 70%;
  }
  
  &__bar-80 {
    width: 80%;
  }
  
  &__bar-90 {
    width: 90%;
  }
  
  &__bar-100 {
    width: 100%;
  }
}

/* Estilos de los logos */
.about-logos {
  padding: 4rem 0;
  background-color: $light-color;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 18%;

    img {
      display: block;
      width: 100%;
    }
  }
}


/* Estilos de la sección testimonials */
.testimonials {
  padding: 3rem 0;

  .title::after {
    @extend %bottom-border;
  }

  &__testimonials-container {
    display: flex;
    justify-content: space-between;
  }
  
  &__testimonial {
    width: 24%;

    & > p {
      margin-bottom: 1rem;
      padding: 0.5rem;
      border: 1px solid $medium-color;
      border-radius: 5px;
    }
  }

  &__client {
    display: flex;
    align-items: center;

    img {
      display: block;
      width: 50px;
      height: 50px;
      margin-right: 1rem;
      border-radius: 50%;
    }
  }
}


/* Estilos de la sección my work */
.my-work {
  padding: 3rem 0;

  .title::after {
    @extend %bottom-border;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__gallery-item {
    position: relative;
    overflow: hidden;

    &-text {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -120%);
      opacity: 0;
      text-align: center;
      text-transform: uppercase;
      z-index: 20;

      transition: all 1500ms 200ms cubic-bezier(.16,.74,.58,.99);

      p {
        font-size: 1.5rem;
      }

      h3 {
        font-size: 2rem;
      }

    }

    img {
      display: block;
      width: 100%;
      transform: scale(1);
      transition: transform 1500ms cubic-bezier(.16,.74,.58,.99);
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-50%) rotate(-30deg) scale(2, 0);
      transform-origin: top center;
      background-color: rgba($main-color, 0.9);
      z-index: 10;

      transition: all 1500ms cubic-bezier(.16,.74,.58,.99);
    }

    &:hover &-text {
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    &:hover img {
      transform: scale(1.2);
    }

    &:hover &-overlay {
      transform: translateX(-50%) rotate(-30deg) scale(2, 2);
    }
  }
}


/* Estilos de la página contact */
.contact {

  .container {
    padding: 3rem 0;
  }

  .title::after {
    @extend %bottom-border;
  }

  &__form {

  }

  &__form-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 5rem;

    input, textarea {
      display: block;
      padding: 0.5rem;
      width: 100%;
      font-family: inherit;
    }

    textarea {
      grid-column: 1/-1;
    }
  }

  &__btn {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 0.5rem 0;
    font-size: 1.1rem;
    font-family: inherit;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: $dark-color;
    transition: all 500ms ease-in-out;

    &:hover {
      background-color: $main-color;
      color: $dark-color;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    color: #fff;
    background-color: $dark-color;

    &-icon {
      width: 30%;
      text-align: center;
    }
  }

  &__copy {
    padding: 4rem 0;
    background-color: $main-color;

    h1{
      font-size: 4rem;
      text-align: center;
      color: #fff;
    }
  }
}


/* Importar media queries para resposive design */
@import "media"