@import "variables";

/* Estilos generales */
body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2, h3, h4 {
  text-transform: uppercase;  
}

img {
  display: block;
  width: 100%;
}


/* Estilos del Header */
.header-home {
  height: 100vh;
  background-image: $bg-img;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  color: #fff;
  
  &__nav {

  }

  &__logo {

  }

  &__content {

  }

  &__lead {

  }
}