@import "variables";
@import "utilities";

/* Estilos generales */
body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2, h3, h4 {
  text-transform: uppercase;  
}

img {
  display: block;
  width: 100%;
}

.logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;

    transition: border-color 350ms;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

/* Estilos del Header */
.header-home {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to right, #00000070, #00000070), $bg-img;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  color: #fff;

  &__content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-align: center;

    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
  }

  &__lead {
    margin-bottom: 1rem;
  }
}

.header-about {
  height: 5.5rem;
  background-image: linear-gradient(to right, #00000070, #00000070), $bg-img;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 3px solid $main-color;
}


/* Estilos del la sección Specialize */
.specialize {
  text-align: center;
  
  & .container {
    padding: 2rem 0;
  }

  &__title {
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 300;

    &::after {
      @extend %bottom-border;
    }
  }

  &__lead {
    margin-bottom: 2rem;
    font-size: 1.3rem;
  }

  &__specials {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__specials div {
    padding: 0 0.5rem;
  }

  &__specials .fas {
    color: $main-color;
  }

  &__specials h3 {
    margin-bottom: 0.5rem;
  }
}


/* Estilos de la sección stats */
.stats {
  text-align: center;
  padding-bottom: 3rem;

  &__container {
    display: flex;
    background-color: cadetblue;
  }

  &__item {
    flex-basis: 25%;
    padding: 3rem;

    & i {
      margin-bottom: 1rem;
    }

    & p:first-of-type{
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    & p:nth-of-type(2){
      font-size: 2rem;
      font-weight: bold;
    }
  }

  &__item:nth-child(odd) {
    background-color: $light-color;
  }

  &__item:nth-child(even) {
    background-color: $medium-color;
  }
}


/* Estilos de la sección creative process */
.process {
  text-align: center;
  padding-bottom: 3rem;

  & .container {

  }

  & .container > h2{
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 300;

    &::after {
      @extend %bottom-border;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;

    & > div {      
      width: 24%;
    }
  }

  &__items-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    padding: 5rem;
    margin: 0 auto 1rem auto;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: $dark-color;
    transform-origin: top center;

    transform: scale(1);
    transition: all 350ms ease-in-out;
    
    &:hover, &:hover &__items-step {
      transform: scale(1.1);
      background-color: $main-color;
      transition: all 500ms ease-in-out;
    }
  }

  &__items-step {
    position: absolute;
    top: 0;
    right: 0rem;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.8rem;
    text-align: center;
    color: #fff;
    background-color: $main-color;
    border-radius: 50%;

    transition: background-color 500ms ease-in-out;
  }

  &__items-icon:hover &__items-step {
    background-color: $dark-color;
    transition: background-color 500ms ease-in-out;
  }
}


/* Estilos de footer */
.footer {
  background-color: $dark-color;
  padding: 1rem 0;
  color: #fff;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icons {
    display: flex;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.6rem;
      border-radius: 50%;
      border: 2px solid #fff;      
      transition: all 500ms ease-in-out;
      
      &:not(:last-child) {
        margin-right: 1rem;
      }
      
      &:hover {
        color: $dark-color;
        background-color: $main-color;
        transition: all 500ms ease-in-out;
      }
    }
  }
}
